.shimmerform-placeholder-24-150 {
  height: 24px;
  width: 150px;
}

.shimmerform-placeholder-58 {
  height: 58px;
  width: 100%;
}

.shimmerform-placeholder-24-120 {
  height: 24px;
  width: 120px;
}

.shimmerform-placeholder-40 {
  height: 40px;
}

.shimmerform-placeholder-20 {
  width: 20px;
  height: 20px;
}

.shimmerform-placeholder-40-140 {
  height: 40px;
  width: 140px;
}

.shimmerform-placeholder-56-160 {
  height: 56px;
  width: 160px;
} 