.shippingform-select-custom {
  appearance: none;
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 1rem;
}

.shippingform-select-country {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23606060' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M1.5 5.5l6 6 6-6'/></svg>");
}

.shippingform-select-governorate {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23606060' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M1.5 5.5l6 6 6-6'/></svg>");
}

.shippingform-input-mobile {
  padding-right: 0.75rem;
}

.shippingform-img-15 {
  height: 15px;
}

.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

  .fs-7 {
    font-size: 13px !important;
  }

@media (min-width: 768px) {
  .w-md-fit {
    width: fit-content !important;
  }
}